<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>nsp.3platz.nitv.com</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>BNPJ - Buy Now Pay Japan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BNPJ - Buy Now Pay Japan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.660540445156-g500hnmt30ug8o84jl3ijkdfvb779c05</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb160947809212135</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>KhaltiPayFlutterExampleScheme</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FDAllFilesDownloadedMessage</key>
	<string>All files have been downloaded</string>
	<key>FacebookAppID</key>
	<string>160947809212135</string>
	<key>FacebookDisplayName</key>
	<string>BNPJ - Buy Now Pay Japan</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-2941478610557201~6510169818</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) apple music use</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Bluetooth is used to share local files to nearest devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is used to share local files to nearest devices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars are used to choose dates while filling up the forms.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>App needs permission to authentication payment process</string>
	<key>NSContactsUsageDescription</key>
	<string>Use this info for auto filling data in the resume</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is used to get relevant news and weather information for you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used to get relevant news and weather information for you.</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) motion uses</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library is used to change the person documents</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This is used for speect to text feature.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
